BACKEND_PORT_EXTERNAL=
BACKEND_PORT_INTERNAL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_TIME=

REDIS_URL_AUTH=
REDIS_USE_TLS_AUTH=

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=