PORT=

BACKEND_URL=

FRONTEND_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_TIME=

REDIS_URL_AUTH=
REDIS_USE_TLS_AUTH=

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_FROM=
EMAIL_PASSWORD=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CALLBACK_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

PUBLIC_KEY_LIQPAY=
PRIVATE_KEY_LIQPAY=

WFP_MERCHANT_ACCOUNT=
WFP_MERCHANT_SECRET=


